/* NORMALIZATION */

html {
	/* max-width: 100%;
	max-height: 100%; */
	/* width: 100%; */
	height: 100%;
	/* touch-action: none; */
	/* overflow: hidden; */
	/* line-height: 1.2em; */
}

body {
	position: relative;
	/* display: flex;
	flex-direction: column; */
	/* max-width: 100%;
	max-height: 100%; */
	/* width: 100%; */
	height: 100%;
	margin: 0;
	/* touch-action: none; */
	overflow: hidden;
	color: black;
	background-color: white;
}

*, ::after, ::before {
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
}
h1, h2, h3, h4, h5 {
	margin: 0.5em 0;
	font-weight: 600;
	color: inherit;
}
p {
	margin: initial;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
legend {
	width: unset;
	max-width: unset;
	margin: unset;
	padding: unset;
}



/* RUBBISH

Bootstrap had these:
button, input { overflow:visible; }
button, select { text-transform:none; }
[tabindex="-1"]:focus { outline:0!important; }


@media only screen and (max-width: 720px) {
	html:fullscreen { font-size:small; }
	html:-webkit-full-screen { font-size:small; }
}


// Bootstrap v4.2.1 css piece:
:root{--blue:#007bff;--indigo:#6610f2;--purple:#6f42c1;--pink:#e83e8c;--red:#dc3545;--orange:#fd7e14;--yellow:#ffc107;--green:#28a745;--teal:#20c997;--cyan:#17a2b8;--white:#fff;--gray:#6c757d;--gray-dark:#343a40;--primary:#007bff;--secondary:#6c757d;--success:#28a745;--info:#17a2b8;--warning:#ffc107;--danger:#dc3545;--light:#f8f9fa;--dark:#343a40;--breakpoint-xs:0;--breakpoint-sm:576px;--breakpoint-md:768px;--breakpoint-lg:992px;--breakpoint-xl:1200px;--font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";--font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace}
*, ::after, ::before { box-sizing:border-box; }
html {
	font-family: sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}
article,aside,figcaption,figure,footer,header,hgroup,main,nav,section { display:block; }
body {
	margin: 0;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

*/